.headerpadd {
    padding-top: 60px;
}

.titleColor {
    color: #107896;
}

.mainColor {
    background-color: #107896;
}

.font {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}