<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Member Institutions</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="/style/debugger.css"> -->
    <link rel="stylesheet" href="/style/main.css"> 

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <!-- START OF NAVBAR-->
      <nav class="navbar mainColor" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <a href="/">
                  <img src = "/logos/CVCHRD logo.png" width="100" height="100">
              </a>
              <div class="column">
                  <p class="has-text-white font">CVCHRD</p>
                  <p class="has-text-white ">Central Visayas Consurtiom for</p>  
                  <p class="has-text-white">Health Research And Development</p>  
              </div>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                  <a href="/index.html" class="navbar-item has-text-white ">Home</a>
                  <div class="navbar-item has-dropdown is-hoverable ">
                          <a class="navbar-link has-text-white ">
                              About Us
                          </a>
                      <div class="navbar-dropdown">
                          <a class="navbar-item" href="../aboutpage/history.html">
                              History of CVCHRD
                          </a>
                          <a class="navbar-item" href="../aboutpage/orgchart.html">
                              Organizational Chart
                          </a>
                          <a class="navbar-item" href="../aboutpage/wwa.html">
                            Who We Are
                          </a>
                          <a class="navbar-item" href="../aboutpage/NDO.html">
                              Name, Domicile, and Objectives
                          </a>
                          <a class="navbar-item" href="../aboutpage/memberInt.html">
                              Member Institutions
                          </a>
                      </div>
                  </div>
                  <a href="../gallery.html" class="navbar-item has-text-white">Gallery</a>
                  <a href="../downloads.html" class="navbar-item has-text-white">Downloads</a>
                  <a href="../discussion.html" class="navbar-item has-text-white">Discussions</a>
                  <a>
                      <div class="navbar-item">
                          <div class="control">
                              <input class="input is-rounded" type="text" placeholder="Search ...">
                          </div>
                          <div class="control">
                              <a class="button is-info is-rounded">
                              Search
                              </a>
                          </div>
                      </div>
                  </a>
              </div>
      </nav>
      <!--END OF NAVBAR-->

      <br>

      <!-- START OF MEMBER INST. -->
      <div class = "container">
        <p class = "title is-3 has-text-weight-bold">Member Institution</p>
      </div>

      <br>

      <!-- First Row -->
      <div class = "container">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-15">
            <div class="tile">
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/CDU.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">CEBU DOCTORS’ UNIVERSITY</p>
                      <p class="subtitle is-6">1 Dr. P. V. Larrazabal Jr. Ave., 
                        North Reclamation, Mandaue City, Cebu</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://www.cebudoctorsuniversity.edu/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/CIM.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">CEBU INSTITUTE OF MEDICINE</p>
                      <p class="subtitle is-6">M. Cuenco Ave., Cebu City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://cim.edu.ph/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/CMS.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">CEBU MEDICAL SOCIETY</p>
                      <p class="subtitle is-6">M. Cuenco Ave., Cebu City</p>
                      <a href = "#">
                        <p class="subtitle is-6">https://www.facebook.com/CebuMedicalSocietyInc</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Second Row -->
      <div class = "container">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-15">
            <div class="tile">
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/CNU.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">CEBU NORMAL UNIVERSITY</p>
                      <p class="subtitle is-6">Osmeña Boulevard cor R. Landon Street Cebu City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://cnu.edu.ph/cnuweb/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/CHED.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">COMMISSION ON HIGHER EDUCATION REGIONAL OFFICE NO. VII</p>
                      <p class="subtitle is-6">National Government Center, Sudlon, Lahug, Cebu City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://www.ched.gov.ph/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/DOH.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">DEPARTMENT OF HEALTH-CENTER FOR HEALTH DEVELOPMENT VII</p>
                      <p class="subtitle is-6">Osmeña Blvd., Cebu City, Cebu 6000</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://chd7.doh.gov.ph/home/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Third Row -->
      <div class = "container">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-15">
            <div class="tile">
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/dost.png">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">DEPARTMENT OF SCIENCE AND TECHNOLOGY REGION VII DOST Regional Office No. VII</p>
                      <p class="subtitle is-6">Lahug S&T Complex, Sudlon, Lahug, Cebu City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://ro7.dost.gov.ph/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/HNU.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">HOLY NAME UNIVERSITY</p>
                      <p class="subtitle is-6">Lesage and Gallares Street, Tagbilaran City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://www.hnu.edu.ph/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/NEDA.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">NATIONAL ECONOMIC DEVELOPMENT AUTHORITY REGIONAL OFFICE NO. VII</p>
                      <p class="subtitle is-6">Government Center, Sudlon, Lahug, Cebu City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://www.neda7.net.ph/wordpress/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Fourth Row -->
      <div class = "container">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-15">
            <div class="tile">
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/SillimanUniversity.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">SILLIMAN UNIVERSITY</p>
                      <p class="subtitle is-6">Hibbard Avenue, Dumaguete City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://su.edu.ph/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/SWU.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">SOUTHWESTERN UNIVERSITY</p>
                      <p class="subtitle is-6">Villa Aznar Private. Road, Cebu City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://swu.edu.ph/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/UniversityofBohol.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">UNIVERSITY OF BOHOL</p>
                      <p class="subtitle is-6">Ma. Clara St, Tagbilaran City</p>
                      <a href = "#">
                        <p class="subtitle is-6">https://www.facebook.com/pages/University-of-Bohol/113029672045180#</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Fifth Row -->
      <div class = "container">
        <div class="tile is-ancestor">
          <div class="tile is-vertical is-15">
            <div class="tile">
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/UC.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">UNIVERSITY OF CEBU</p>
                      <p class="subtitle is-6">Sanciangko St., Cebu City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://uc.edu.ph/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/UniversityofSanCarlos.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">UNIVERSITY OF SAN CARLOS</p>
                      <p class="subtitle is-6">P. Del Rosario St., Cebu City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://beta.usc.edu.ph/www2/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src ="/logos/Gullas.jpg">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-6">V. GULLAS MEMORIAL COLLEGE OF MEDICINE</p>
                      <p class="subtitle is-6">Banilad, Cebu City</p>
                      <a href = "#">
                        <p class="subtitle is-6">http://uv.edu.ph/academics/gullas-college-of-medicine/</p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- END OF MEMBER INST. -->

      <br>

      <!-- START OF AFFILIATED RESEARCH SITES -->

  <div class = "content has-text-centered">
      <p class = "subtitle is-5 has-text-weight-bold">Affiliated Research Sites</p>
    </div>
    <div class = "content has-text-centered">
      <a href="#">
        <img src = "/logos/armm.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/caragarhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/clhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/crhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/cvhrdc.png" width="5%" height="5%"> 
      </a>
  
      <a href="#">
        <img src = "/logos/evhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/mhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/mmhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/norminchord.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/r1hrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/region-12.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/region-5.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/region-6.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/region-7.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/region4-a.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/rhrdcxi.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/zrhrdc.png" width="5%" height="5%">
      </a>
    </div>
  
    <!-- END OF AFFILIATED RESEARCH SITES -->

  <!--START OF FOOTER-->
    <footer class="footer mainColor">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                  <p class="is-size-4 has-text-white has-text-weight-bold font">Recieve Update</p>
                  <br>
                  <div class="field">
                      <label class="label has-text-white">Name</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="e.g Alex Smith">
                      </div>
                    </div>
    
                    <div class="field">
                      <label class="label has-text-white">Email</label>
                      <div class="control">
                        <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                      </div>
                    </div>
                    <div class="control">
                        <button class="button is-link">Submit</button>
                      </div>
                </div>
                <div class="column is-4 is-offset-3">
                    <p class="is-size-4 has-text-white has-text-weight-bold font">Contact Details</p>
                    <br>
                    <br>
                    <p class = "has-text-white"><i class="fas fa-map-marker-alt has-text-white icon is-medium"></i>  Lahug S & T Complex. Sudlon, Lahug, Cebu City</p>
                    <p class = "has-text-white"> <i class="fas fa-phone has-text-white icon is-medium"></i>  (032) 418 - 9032 / 254 - 8269</p>
                    <p class = "has-text-white"><i class="fas fa-envelope-square has-text-white icon is-medium"></i>  cvchrd7@gmail.com</p>
                    <br>
                    <div class="field is-grouped">
                        <div class="control">
                            <i class="fab fa-facebook-square has-text-white icon is-medium"></i>
                        </div>
                        <div class="control">
                            <i class="fab fa-twitter-square has-text-white icon is-medium"></i>
                        </div>
                        <div class="control">
                            <i class="fab fa-linkedin has-text-white icon is-medium"></i>
                        </div>
                      </div>
                    </div>
              </div>
        </div>
    </footer>
    <!--END OF FOOTER-->
  </body>
</html> 
