<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CVCHRD 7</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">


    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

    <hr>

    <div class = "container">
      <div class = "columns">
        <!-- LOGO -->
        <div class = "column is-one-fifth">
          <img src = "../logos/CVCHRD logo.png" width="90%" height="90%">
        </div>
        <div class = "column is-gapless">
          <h1 class = "title is-3"> Region 7 Health Research </h1>
          <!-- NAVIGATION BAR -->
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
              
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="./index.html">
                  Home
                </a>
              
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    About Us
                  </a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="../view/aboutpage/history.html">
                      History of CVCHRD
                    </a>
                    <a class="navbar-item" href="../view/aboutpage/orgchart.html">
                      Organizational Chart
                    </a>
                    <a class="navbar-item" href="../view/aboutpage/NDO.html">
                      Name, Domicile, and Objectives
                    </a>
                    <a class="navbar-item" href="../view/aboutpage/memberInt.html">
                      Member Institutions
                    </a>
                  </div>
                </div>
          
                <a class="navbar-item" href="./gallery.html">
                  Gallery
                </a>
              
                <a class="navbar-item" href="./downloads.html">
                  Downloads
                </a>
              
                <a class="navbar-item" href="./discussion.html">
                  Discussions
                </a>
              </div>
            </div>
          </nav>
          <hr>
        </div>
        <!-- Search Box -->
        <div class = "column is-one-quarter">
          <input class="input is-info is-rounded is-short" type="text" placeholder="Search ...">
        </div>

        <div class = "column is-gapless">
            <input class="button is-info is-rounded is-right" type="submit" value="Search">
        </div>
      </div>
    </div>

    <div class = "container">
      <strong> Discussions </strong>
    </div>

    <hr>

    <div class="container">
      <div class = "columns">
        <div class = "column">
          <strong> Contact Details </strong>
          <hr>
          <div class = "columns">
            <img src = "../icons/address.png" width="10%" height="10%">
            <p>Lahug S & T Complex, Sudlon, Lahug, Cebu City</p>
          </div>

          <div class = "columns">
            <img src = "../icons/phone.png" width="10%" height="10%">
            <p>(032) 418 - 9032 / 254 - 8269</p>
          </div>

          <div class = "columns">
            <img src = "../icons/contact.png" width="10%" height="10%"> 
            <p class = "has-text-center-desktop">cvchrd7@gmail.com</p>
            </div>
        </div>

        <div class = "column">
          <strong> Receive Updates </strong>
          <hr>
          <div class="field">
            <div class="control">
              <input class="input is-info" type="text" placeholder="Name">
            </div>
          </div>

          <div class="field">
            <div class="control">
              <input class="input is-info" type="email" placeholder="Email Address">
            </div>
          </div>
          <a href = "#">
            <button class  = "button is-info"> Subscribe </button>
          </a>
          <!-- <input class="button is-info" type="submit" value="Subscribe"> -->
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class = "content has-text-centered">
        <strong>
            Affiliated Research Sites
        </strong>
        <hr>  
        <a href="#">
          <img src="../logos/mmhrdc.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/caragarhrdc.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/armm.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/region-12.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/rhrdcxi.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/norminchord.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/zrhrdc.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/evhrdc.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/region-7.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/region-6.png" width="5%" height="5%">    
        </a>
        
        <a href="#">
          <img src="../logos/region-5.png" width="5%" height="5%">      
        </a>
        
        <a href="#">
          <img src="../logos/mhrdc.png" width="5%" height="5%">    
        </a>
        
        <a href="#">
          <img src="../logos/region4-a.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/clhrdc.png" width="7%" height="7%">    
        </a>
        
        <a href="#">
          <img src="../logos/cvhrdc.png" width="5%" height="5%"> 
        </a>
        
        <a href="#">
          <img src="../logos/r1hrdc.png" width="5%" height="5%">
        </a>
        
        <a href="#">
          <img src="../logos/crhrdc.png" width="5%" height="5%">   
        </a>  
      </div>
    </footer>
  </body>
</html>