<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CVCHRD 7</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="/style/debugger.css"> -->
    <link rel="stylesheet" href="/style/main.css"> 

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

    <hr>

    <div class = "container">
      <div class = "columns">
        <!-- LOGO -->
        <div class = "column is-one-fifth">
          <img src = "../logos/CVCHRD logo.png" width="90%" height="90%">
        </div>
        <div class = "column is-gapless">
          <h1 class = "title is-3"> Region 7 Health Research </h1>
          <!-- NAVIGATION BAR -->
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
              
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="../view/index.html">
                  Home
                </a>
              
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    About Us
                  </a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item" href="../view/aboutpage/history.html">
                      History of CVCHRD
                    </a>
                    <a class="navbar-item" href="../view/aboutpage/orgchart.html">
                      Organizational Chart
                    </a>
                    <a class="navbar-item" href="../view/aboutpage/NDO.html">
                      Name, Domicile, and Objectives
                    </a>
                    <a class="navbar-item" href="../view/aboutpage/memberInt.html">
                      Member Institutions
                    </a>
                  </div>
                </div>
          
                <a class="navbar-item" href="../view/gallery.html">
                  Gallery
                </a>
              
                <a class="navbar-item" href="../view/downloads.html">
                  Downloads
                </a>
              
                <a class="navbar-item" href="../view/discussion.html">
                  Discussions
                </a>
                <div class="navbar-item">
                  <!-- Search Box -->
                  <div class = "column">
                    <input class="input is-info is-rounded is-short" type="text" placeholder="Search ...">
                  </div>

                  <div class = "column">
                      <input class="button is-info is-rounded" type="submit" value="Search">
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <hr>
        </div>
      </div>
    </div>

    <div class = "container has-text-centered is-size-5">
      <strong> Downloads </strong>
    </div>

    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-one-quarter">
                <div class="card">
                    <header class="card-header">
                      <p class="card-header-title is-centered is-size-4 titleColor">
                          CVCHRD Research Workathon and Ideafest
                      </p>
                    </header>
                    <div class="card-content">
                      <div class="content">
                          <article class="media">
                            <figure class="media-left">
                                <i class="fas fa-folder fas fa-lg media-left has-text-warning"></i>
                            </figure>
                            <div class="media-content">
                              <div class="content">
                                 <a href="downloadFile.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</a>
                              </div>
                            </div>
                          </article>
                      </div>
                      <div class="content">
                          <article class="media">
                            <figure class="media-left">
                                <i class="fas fa-folder fas fa-lg media-left has-text-warning"></i>
                            </figure>
                            <div class="media-content">
                              <div class="content">
                                 <a href="downloadFile.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</a>
                              </div>
                            </div>
                          </article>
                      </div>
                    </div>
                </div>
          </div>
          <div class="column is-one-quarter">
              <div class="card">
                  <header class="card-header">
                    <p class="card-header-title is-centered is-size-4 titleColor">
                        Alberto Romualdez Outstanding Health Research Award 
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                        <article class="media">
                          <figure class="media-left">
                              <i class="fas fa-folder fas fa-lg media-left has-text-warning"></i>
                          </figure>
                          <div class="media-content">
                            <div class="content">
                               <a href="downloadFile.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</a>
                            </div>
                          </div>
                        </article>
                    </div>
                  </div>
              </div>
          </div>
          <div class="column is-one-quarter">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title is-centered is-size-4 titleColor">
                      Alberto Romualdez Outstanding Health Research Award 
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                      <article class="media">
                        <figure class="media-left">
                            <i class="fas fa-folder fas fa-lg media-left has-text-warning"></i>
                        </figure>
                        <div class="media-content">
                          <div class="content">
                             <a href="downloadFile.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</a>
                          </div>
                        </div>
                      </article>
                  </div>
                </div>
            </div>
        </div>
          <div class="column is-one-quarter">
              <div class="card">
                  <header class="card-header">
                    <p class="card-header-title is-centered is-size-4 titleColor">
                        Call for Capsule Proposals 2019
                    </p>
                  </header>
                  <div class="card-content">
                    <div class="content">
                        <article class="media">
                          <figure class="media-left">
                              <i class="fas fa-folder fas fa-lg media-left has-text-warning"></i>
                          </figure>
                          <div class="media-content">
                            <div class="content">
                               <a href="downloadFile.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</a>
                            </div>
                          </div>
                        </article>
                    </div>
                  </div>
              </div>
          </div>
          <div class="column is-one-quarter">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title is-centered is-size-4">
                      CVCHRD Research Workathon and Ideafest.
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                      <article class="media">
                        <figure class="media-left">
                            <i class="fas fa-folder fas fa-lg media-left has-text-warning"></i>
                        </figure>
                        <div class="media-content">
                          <div class="content">
                             <a href="downloadFile.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</a>
                          </div>
                        </div>
                      </article>
                  </div>
                  <div class="content">
                      <article class="media">
                        <figure class="media-left">
                            <i class="fas fa-folder fas fa-lg media-left has-text-warning"></i>
                        </figure>
                        <div class="media-content">
                          <div class="content">
                             <a href="downloadFile.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</a>
                          </div>
                        </div>
                      </article>
                  </div>
                </div>
            </div>
          </div>
          <div class="column is-one-quarter">
            <div class="card">
                <header class="card-header">
                  <p class="card-header-title is-centered is-size-4">
                      Call for Capsule Proposals 2019
                  </p>
                </header>
                <div class="card-content">
                  <div class="content">
                      <article class="media">
                        <figure class="media-left">
                            <i class="fas fa-folder fas fa-lg media-left has-text-warning"></i>
                        </figure>
                        <div class="media-content">
                          <div class="content">
                             <a href="downloadFile.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</a>
                          </div>
                        </div>
                      </article>
                  </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </section>
    <footer class="footer has-background-light">
        <div class="content has-text-centered">
          <p>
              Copyright © Central Visayas Consortium for Health Research and Development. All rights reserved.
          </p>
        </div>
      </footer>
  </body>
</html>