<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CVCHRD 7</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="/style/debugger.css">   -->
    <link rel="stylesheet" href="/style/main.css"> 

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <!-- START OF NAVBAR-->
      <nav class="navbar mainColor" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <a href="/">
                  <img src = "../logos/CVCHRD logo.png" width="100" height="100">
              </a>
              <div class="column">
                  <p class="has-text-white font">CVCHRD</p>
                  <p class="has-text-white ">Central Visayas Consurtiom for</p>  
                  <p class="has-text-white">Health Research And Development</p>  
              </div>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                  <a href="../view/index.html" class="navbar-item has-text-white ">Home</a>
                  <div class="navbar-item has-dropdown is-hoverable ">
                          <a class="navbar-link has-text-white ">
                              About Us
                          </a>
                      <div class="navbar-dropdown">
                          <a class="navbar-item" href="../view/aboutpage/history.html">
                              History of CVCHRD
                          </a>
                          <a class="navbar-item" href="../view/aboutpage/orgchart.html">
                              Organizational Chart
                          </a>
                          <a class="navbar-item" href="../view/aboutpage/NDO.html">
                              Name, Domicile, and Objectives
                          </a>
                          <a class="navbar-item" href="../view/aboutpage/memberInt.html">
                              Member Institutions
                          </a>
                      </div>
                  </div>
                  <a href="../view/gallery.html" class="navbar-item has-text-white">Gallery</a>
                  <a href="../view/downloads.html" class="navbar-item has-text-white">Downloads</a>
                  <a href="../view/discussion.html" class="navbar-item has-text-white">Discussions</a>
                  <a>
                      <div class="navbar-item">
                          <div class="control">
                              <input class="input is-rounded" type="text" placeholder="Search ...">
                          </div>
                          <div class="control">
                              <a class="button is-info is-rounded">
                              Search
                              </a>
                          </div>
                      </div>
                  </a>
              </div>
      </nav>
      <!--END OF NAVBAR-->

      <br>

      <!-- START OF GALLERY -->
      <div class = "container">
          <p class = "title is-3 has-text-weight-bold">Gallery</p>
      </div>

      <br>

      <div class = "container">
        <div class = "columns is-one-third">
          <div class = "column">
            <img src = "/images/Publication Kapihan Sa PIA.jpg">
          </div>
          <div class = "column">
            <img src ="/images/CVHRIC Ribbon Cutting.JPG">
          </div>
          <div class = "column">
            <img src = "/images/IACUC lab.jpg">
          </div>
        </div>
      </div>
      <div class = "container">
          <div class = "columns is-one-third">
            <div class = "column">
              <img src = "/images/CVHRIC1 (1).JPG">
            </div>
            <div class = "column">
              <img src ="/images/CVCHRD.JPG">
            </div>
            <div class = "column">
              <img src = "/images/Biomedical Device Research.JPG">
            </div>
          </div>
        </div>
      <!-- END OF GALLERY -->

      <br>

    
    <!-- START OF AFFILIATED RESEARCH SITES -->

  <div class = "content has-text-centered">
      <p class = "subtitle is-5 has-text-weight-bold">Affiliated Research Sites</p>
    </div>
    <div class = "container">
      <a href="#">
        <img src = "/logos/armm.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/caragarhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/clhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/crhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/cvhrdc.png" width="5%" height="5%"> 
      </a>
  
      <a href="#">
        <img src = "/logos/evhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/mhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/mmhrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/norminchord.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/r1hrdc.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/region-12.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/region-5.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/region-6.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/region-7.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/region4-a.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/rhrdcxi.png" width="5%" height="5%">
      </a>
  
      <a href="#">
        <img src = "/logos/zrhrdc.png" width="5%" height="5%">
      </a>
    </div>
  
    <!-- END OF AFFILIATED RESEARCH SITES -->

    <!--START OF FOOTER-->
    <footer class="footer mainColor">
        <div class="container">
          <div class="columns">
            <div class="column is-one-third">
              <p class="is-size-4 has-text-white has-text-weight-bold font">Recieve Update</p>

              <br>

              <div class="field">
                <label class="label has-text-white">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="e.g Alex Smith">
                </div>
              </div>
    
              <div class="field">
                <label class="label has-text-white">Email</label>
                <div class="control">
                  <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                </div>
              </div>

              <div class="control">
                <button class="button is-link">Submit</button>
              </div>
            </div>

            <div class="column is-4 is-offset-3">
              <p class="is-size-4 has-text-white has-text-weight-bold font">Contact Details</p>
              <br>
              <br>
              <p class = "has-text-white">
                <i class="fas fa-map-marker-alt has-text-white icon is-medium"></i>  
                Lahug S & T Complex. Sudlon, Lahug, Cebu City
              </p>

              <p class = "has-text-white">
                <i class="fas fa-phone has-text-white icon is-medium"></i>
                (032) 418 - 9032 / 254 - 8269
              </p>

              <p class = "has-text-white">
                <i class="fas fa-envelope-square has-text-white icon is-medium"></i>  
                cvchrd7@gmail.com
              </p>
                    
              <br>
              <div class="field is-grouped">
                <div class="control">
                  <i class="fab fa-facebook-square has-text-white icon is-medium"></i>
                </div>

                <div class="control">
                    <i class="fab fa-twitter-square has-text-white icon is-medium"></i>
                </div>

                <div class="control">
                  <i class="fab fa-linkedin has-text-white icon is-medium"></i>
                </div>
              </div>
            </div>
          </div>
      </div>
    </footer>
    <!--END OF FOOTER-->
  </body>
</html> 
