<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CVCHRD 7</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <!-- <link rel="stylesheet" href="/style/debugger.css"> -->
    <link rel="stylesheet" href="/style/main.css"> 

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <!-- START OF NAVBAR-->
      <nav class="navbar mainColor" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
              <a href="/">
                  <img src = "../logos/CVCHRD logo.png" width="100" height="100">
              </a>
              <div class="column">
                  <p class="has-text-white font">CVCHRD</p>
                  <p class="has-text-white ">Central Visayas Consurtiom for</p>  
                  <p class="has-text-white">Health Research And Development</p>  
              </div>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                  <a href="../view/index.html" class="navbar-item has-text-white ">Home</a>
                  <div class="navbar-item has-dropdown is-hoverable ">
                          <a class="navbar-link has-text-white ">
                              About Us
                          </a>
                      <div class="navbar-dropdown">
                          <a class="navbar-item" href="../view/aboutpage/history.html">
                              History of CVCHRD
                          </a>
                          <a class="navbar-item" href="../view/aboutpage/orgchart.html">
                              Organizational Chart
                          </a>
                          <a class="navbar-item" href="../view/aboutpage/NDO.html">
                              Name, Domicile, and Objectives
                          </a>
                          <a class="navbar-item" href="../view/aboutpage/memberInt.html">
                              Member Institutions
                          </a>
                      </div>
                  </div>
                  <a href="../view/gallery.html" class="navbar-item has-text-white">Gallery</a>
                  <a href="../view/gallery.html" class="navbar-item has-text-white">Downloads</a>
                  <a href="../view/discussion.html" class="navbar-item has-text-white">Discussion</a>
                  <a>
                      <div class="navbar-item">
                          <div class="control">
                              <input class="input is-rounded" type="text" placeholder="Find a repository">
                          </div>
                          <div class="control">
                              <a class="button is-info is-rounded">
                              Search
                              </a>
                          </div>
                      </div>
                  </a>
              </div>
      </nav>
      <!-- sdf -->
      <!--END OF NAVBAR-->

      <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                  <article class="media">
                    <figure class="media-left">
                        <i class="fas fa-globe-asia icon is-large"></i>
                    </figure>
                   <div class="media-content">
                     <div class="content">
                       <p class="is-size-4">Regional Health Research Development Committee</p>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                     </div>
                   </div>
                  </article>
                </div>
              </div>
        </div>
        </section>
      <div class="container">
        <!--START OF NEWS-->
          <div class = "container has-text-centered is-size-5 headerpadd">
                  <strong>  OUR LATEST NEWS </strong>
          </div>
          <br>

          <div class="columns">
              <div class="column is-one-third">
                      <div class="card">
                              <div class="card-image">
                                <figure class="image is-4by3">
                                  <img src="https://images.unsplash.com/photo-1546659934-038aab8f3f3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=817&q=80" alt="Placeholder image">
                                </figure>
                              </div>
                              <div class="card-content">
                                <p class="title is-4 titleColor">John Smith</p>
                                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                <br>
                                <div class="content">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                  
                                </div>
                              </div>
                      </div>
              </div>
              <div class="column is-one-third">
                      <div class="card">
                              <div class="card-image">
                                <figure class="image is-4by3">
                                  <img src="https://images.unsplash.com/photo-1486218119243-13883505764c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80" alt="Placeholder image">
                                </figure>
                              </div>
                              <div class="card-content">
                                  <p class="title is-4 titleColor">John Smith</p>
                                  <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                  <br>
                                <div class="content">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                  <a href="#">#css</a> <a href="#">#responsive</a>
                                </div>
                              </div>
                      </div>
              </div>
              <div class="column is-one-third">
                      <div class="card">
                              <div class="card-image">
                                <figure class="image is-4by3">
                                  <img src="https://images.unsplash.com/photo-1549890762-0a3f8933bc76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1435&q=80" alt="Placeholder image">
                                </figure>
                              </div>
                              <div class="card-content">
                                  <p class="title is-4 titleColor">John Smith</p>
                                  <p>11:09 PM - 1 Jan 2016</p>
                                <div class="content">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                  Phasellus nec iaculis mauris. <a>@bulmaio</a>
                                </div>
                              </div>
                      </div>
              </div>
          </div>
  </div>
  <br>

  <!--END OF NEWS-->


  <!--START OF FOOTER-->
    <footer class="footer mainColor">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                  <p class="is-size-4 has-text-white has-text-weight-bold font">Recieve Update</p>
                  <br>
                  <div class="field">
                      <label class="label">Name</label>
                      <div class="control">
                        <input class="input" type="text" placeholder="e.g Alex Smith">
                      </div>
                    </div>
    
                    <div class="field">
                      <label class="label">Email</label>
                      <div class="control">
                        <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
                      </div>
                    </div>
                    <div class="control">
                        <button class="button is-link">Submit</button>
                      </div>
                </div>
                <div class="column is-4 is-offset-3">
                    <p class="is-size-4 has-text-white has-text-weight-bold font">Contact Details</p>
                    <br>
                    <br>
                    <p><i class="fas fa-map-marker-alt has-text-white icon is-medium"></i>  Lahug S & T Complex. Sudlon, Lahug, Cebu City</p>
                    <p> <i class="fas fa-phone has-text-white icon is-medium"></i>  (032) 418 - 9032 / 254 - 8269</p>
                    <p><i class="fas fa-envelope-square has-text-white icon is-medium"></i>  cvchrd7@gmail.com</p>
                    <br>
                    <div class="field is-grouped">
                        <div class="control">
                            <i class="fab fa-facebook-square has-text-white icon is-medium"></i>
                        </div>
                        <div class="control">
                            <i class="fab fa-twitter-square has-text-white icon is-medium"></i>
                        </div>
                        <div class="control">
                            <i class="fab fa-linkedin has-text-white icon is-medium"></i>
                        </div>
                      </div>
                    </div>
              </div>
        </div>
    </footer>
    <!--END OF FOOTER-->
  </body>
</html> 
